Source: stx-snmp-subagent
Section: net
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 g++,
 make,
 libsnmp-dev,
 libjson-c-dev,
 uuid-dev,
 fm-common-dev
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-snmp-subagent
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 fm-common
Description: StarlingX FM SNMP Sub-Agent
 SNMP sub-agent that exposes StarlingX fault management alarms
 and event logs via the AgentX protocol.